@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --primary-color: #7063f0;
  --primary-color-light: #e4e1ff;
  --primary-color-super-light: #f3f2ff;
  --gray-color-1: #2d2d2d;
  --gray-color-2: #555555;
  --green-color-1: #02af75;
  --green-color-2: #e4fff6;
}

body{
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color-super-light);
  margin: 0;
  padding: 0;
}

header{
  border-bottom: 1px solid var(--primary-color-light);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.username{
  font-weight: bold;
}

.header-title{
  color: var(--primary-color);
}

.task{
  border-radius: 5px;
  border: 1px solid;
}

.undone-task{
  background-color: var(--primary-color-light);
  border-radius: 5px;
  border: var(--primary-color);
}

.done-task{
  background-color: var(--green-color-2);
  border-radius: 5;
  border: var(--green-color-1)
}

.hidden{
  display: none;
}